.productdetails {
    min-width: 17rem;
    min-height: 29rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #bebebe;
    border-radius: 10px;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &.productdetails:hover{
        scale: 1.05;
    }
    &-avatar {
        width: 100%;
        min-height: 17rem;
        overflow: hidden;
        position: relative;
        &-flag {
            position: absolute;
            top: 30px;
            left: 0px;
            background-color: rgba(235, 234, 234, 0.86);
            width: 50px;
            height: 24px;
            border-radius: 0px;
            &-text {
                font-weight: 600;
            }
        }
        &-img {
            width: 314px;
            height: 314px;
            object-fit: cover;
            border-radius: 7px 7px 0px 0px;
        }
    }
    &-content {
        margin: 0px 10px;
        padding: 3px;
        border-radius: 7px;
        background-color: #C2D995;
        text-align: left;
        &-h3 {
            margin: 3px 10px;
        }
        &-h4 {
            margin: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: black;
        }
        & a{
            text-decoration: none;
        }
        &-h5 {
            margin: 3px;
            font-weight: 500;
        }
        &-desc {
           margin:0px 0px 0px 5px;
            padding-bottom: 0px;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        &-color {
            margin: 3px;
        }
        &-rating {
            margin: 3px;
        }
    }
    &-button {
        height: 42px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        a {
            text-decoration: none;
        }
        :hover {
            color: #E3D5B8;
            background-color: #59bfd3df;
        }
        &-details {
            height: 30px;
            margin: 5px;
            border-radius: 48px;
            border: 0px solid #E3D5B8;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-p {
            font-size: 14px;
            font-weight: 600;
            display: contents;
        }
        &-icon {
            margin: 3px;
            width: 18px;
            height: 18px;
        }
    }
}
